<a href="https://colab.research.google.com/github/vrtnev/Machine-Learning/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/vrtnev/Machine-Learning/main/salary_and_population.csv'
f = pd.read_csv(url)
f.head()

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN

In [23]:
f.count()

Region_RU     85
Region_EN     85
AVG_Salary    85
Population    85
Unnamed: 4     0
dtype: int64

In [28]:
f['AVG_Salary'].mean()

38831.8

In [31]:
f['AVG_Salary'].median()

32973.0

In [34]:
f['AVG_Salary'].var(ddof = 0)

267735176.32470596

In [36]:
f['AVG_Salary'].std(ddof = 0)

16362.615204321892

In [25]:
f1 = f
f1 = f1.set_index('Region_EN')
f1 = f1.drop(['Sevastopol', 'Republic of Mari El', 'Vladimir Region'], axis = 0)

In [26]:
f1.count()

Region_RU     82
AVG_Salary    82
Population    82
Unnamed: 4     0
dtype: int64

In [29]:
f1['AVG_Salary'].mean()

39144.09756097561

In [30]:
f1['AVG_Salary'].median()

33111.5

In [35]:
f1['AVG_Salary'].var(ddof = 0)

274686629.13682324

In [37]:
f1['AVG_Salary'].std(ddof = 0)

16573.672771501893